header {
  height: 9rem;
  min-width: 100%;
  border-bottom: 1px solid var(--secondary-color3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-left,
.navigation-right,
nav {
  display: flex;
  gap: 3rem;
  flex-shrink: 1;
}

.navigation-left {
  flex: 1;
  align-items: center;
}

.hamburger-menu,
.close-menu,
.close-menu-icon {
  display: none;
}

nav {
  gap: 2rem;
}

nav a {
  color: var(--secondary-color2);
}

.logo {
  height: 2rem;
}

.navigation-right {
  flex: 1;
  justify-content: flex-end;
}

.avatar-img {
  max-height: 3rem;
  border-radius: 50%;
}

.avatar-img:hover {
  box-shadow: 0 0 1px 3px var(--primary-color1);
}

nav > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3.9rem;
  text-decoration-color: var(--primary-color1);
}

@media screen and (max-width: 1440px) {
  header {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 1.5rem;
    height: 5rem;
  }

  .navigation-left,
  .navigation-right {
    gap: 1rem;
    align-content: center;
  }

  .menu-hidden {
    transform: translateX(-150%);
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 0 2rem;
    gap: 1.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background: linear-gradient(
      90deg,
      var(--secondary-color5) 0%,
      var(--secondary-color5) 75%,
      var(--background-color1) 75%,
      var(--background-color1) 100%
    );
    transition: all 2s;
  }

  nav a {
    color: black;
  }

  nav > a:hover {
    text-underline-offset: 0.5rem;
  }

  .close-menu-button {
    display: block;
    margin-bottom: 1rem;
  }

  .close-menu-icon {
    display: block;
  }

  .hamburger-menu {
    display: block;
    margin-top: 2px;
    height: 1.3rem;
  }

  .hamburger-menu > img {
    height: 100%;
  }

  .logo {
    max-height: 1.4rem;
  }

  .avatar-img {
    max-height: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
}
