.product-gallery {
  min-height: calc(100vh - 9rem);
  max-height: 1200px;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.actual-photo {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.actual-photo button {
  display: none;
}

.actual-photo img {
  max-width: 100%;
  border-radius: 15px;
}

.thumbnails-menu {
  display: flex;
  justify-content: space-between;
}

.thumbnails-menu img {
  max-width: 20%;
  border-radius: 20px;
}

.thumbnails-menu img:hover {
  opacity: 0.6;
  outline: solid var(--primary-color1);
}

@media screen and (max-width: 900px) {
  .product-gallery {
    width: 100%;
    max-width: 100%;
    min-height: 0;
  }

  .gallery {
    margin: 0;
  }

  .actual-photo {
    width: 100%;
    max-width: 100%;
  }

  .actual-photo img {
    max-width: 100%;
    border-radius: 0;
    overflow: hidden;
  }

  .thumbnails-menu {
    display: none;
  }

  .actual-photo button {
    display: block;
    position: absolute;
    top: 48%;
    background-color: var(--secondary-color5);
    border-radius: 50%;
    padding: 1rem;
  }

  .actual-photo button > img {
    height: 1rem;
    width: 0.8rem;
  }

  .previous-button {
    left: 5%;
  }

  .next-button {
    right: 5%;
  }
}
