.product-gallery {
  min-height: calc(100vh - 9rem);
  max-height: 1200px;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.actual-photo {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.actual-photo button {
  display: none;
}

.actual-photo img {
  max-width: 100%;
  border-radius: 15px;
}

.thumbnails-menu {
  display: flex;
  justify-content: space-between;
}

.thumbnails-menu > div {
  max-width: 20%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.thumbnails-menu img {
  max-width: 100%;
}

.thumbnails-menu > div :hover {
  filter: grayscale(0.6) brightness(1.3);
  cursor: pointer;
}

.active-thumbnail {
  outline: 4px solid var(--primary-color1);
}

.active-thumbnail > img {
  filter: grayscale(0.6) brightness(1.2);
}

.light-box {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color1);
}

.lb-actual-photo-container {
  position: relative;
  max-width: 80%;
  max-height: 60%;
}

.lb-actual-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 13px;
}

.light-box button {
  position: absolute;
  background-color: var(--secondary-color5);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb-actual-photo-container .lb-close-menu {
  background-color: transparent;
}

.light-box button img {
  height: 38%;
}

.lb-close-menu {
  top: -55px;
  right: -15px;
}

.lb-close-menu > img {
  filter: invert(98%) sepia(4%) saturate(2%) hue-rotate(5deg) brightness(300%)
    contrast(100%);
}

.lb-close-menu > img:hover,
.lb-previous-button > img:hover,
.lb-next-button > img:hover {
  filter: invert(79%) sepia(28%) saturate(7431%) hue-rotate(360deg)
    brightness(102%) contrast(105%);
}

.lb-previous-button {
  top: 45%;
  left: -25px;
}

.lb-next-button {
  top: 45%;
  right: -25px;
}

.lb-thumbnails-menu {
  max-width: 20%;
  display: flex;
  justify-content: space-between;
}

.lb-thumbnails-menu > div {
  max-width: 20%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.lb-thumbnails-menu img {
  max-width: 100%;
}

.lb-thumbnails-menu > div :hover {
  filter: grayscale(0.6) brightness(1.3);
  cursor: pointer;
}

.active-thumbnail {
  outline: 4px solid var(--primary-color1);
}

.active-thumbnail > img {
  filter: grayscale(0.6) brightness(1.2);
}

@media screen and (max-width: 900px) {
  .light-box {
    display: none;
  }

  .product-gallery {
    width: 100%;
    max-width: 100%;
    min-height: 0;
  }

  .gallery {
    margin: 0;
  }

  .actual-photo {
    max-width: 100%;
  }

  .actual-photo img {
    max-width: 100%;
    border-radius: 0;
    overflow: hidden;
  }

  .thumbnails-menu {
    display: none;
  }

  .actual-photo button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48%;
    background-color: var(--secondary-color5);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }

  .actual-photo button > img {
    height: 0.8rem;
    width: 0.6rem;
  }

  .previous-button {
    left: 5%;
  }

  .next-button {
    right: 5%;
  }
}
