:root {
  --primary-color1: hsl(26, 100%, 55%);
  --primary-color2: hsl(25, 100%, 94%);
  --secondary-color1: hsl(220, 13%, 13%);
  --secondary-color2: hsl(219, 9%, 45%);
  --secondary-color3: hsl(220, 14%, 75%);
  --secondary-color4: hsl(223, 64%, 98%);
  --secondary-color5: white;
  --background-color1: rgba(0, 0, 0, 75%);
}

@font-face {
  font-family: KumbhSans;
  src: url("./fonts/KumbhSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: KumbhSans;
  src: url("./fonts/KumbhSans-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: KumbhSans;
  text-decoration: none;
}

p {
  font-size: 16px;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 9rem;
  min-width: 100%;
  border-bottom: 1px solid var(--secondary-color3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-left,
.navigation-right,
nav {
  display: flex;
  gap: 3rem;
  flex-shrink: 1;
}

.navigation-left {
  flex: 1;
  align-items: center;
}

.hamburger-menu,
.close-menu,
.close-menu-icon {
  display: none;
}

nav {
  gap: 2rem;
}

nav a {
  color: var(--secondary-color2);
}

.logo {
  height: 2rem;
}

.navigation-right {
  flex: 1;
  justify-content: flex-end;
}

.avatar-img {
  max-height: 3rem;
  border-radius: 50%;
}

.avatar-img:hover {
  box-shadow: 0 0 1px 3px var(--primary-color1);
}

nav > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3.9rem;
  text-decoration-color: var(--primary-color1);
}

.product-gallery,
.product-description {
  min-height: 500px;
  min-width: 50%;
  background-color: aliceblue;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 1.5rem;
    height: 5rem;
  }

  .navigation-left,
  .navigation-right {
    gap: 1rem;
    align-content: center;
  }

  .menu-hidden {
    transform: translateX(-150%);
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 0 2rem;
    gap: 1.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background: linear-gradient(
      90deg,
      var(--secondary-color5) 0%,
      var(--secondary-color5) 75%,
      var(--background-color1) 75%,
      var(--background-color1) 100%
    );
    transition: all 2s;
  }

  nav a {
    color: black;
  }

  nav > a:hover {
    text-underline-offset: 0.5rem;
  }

  .close-menu-button {
    display: block;
    margin-bottom: 1rem;
  }

  .close-menu-icon {
    display: block;
  }

  .hamburger-menu {
    display: block;
    margin-top: 2px;
    height: 1.3rem;
  }

  .hamburger-menu > img {
    height: 100%;
  }

  .logo {
    max-height: 1.4rem;
  }

  .avatar-img {
    max-height: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
}
